@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: #d9d9d9;
}

main{
    height: 100vh;
    position: relative;
}

.phone{
    background-image:url(imagens/Shadow.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
}

.phone-complete{
    padding-top: 100px;
    position: absolute;
}

.iframe-phone{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.redes-sociais{
    right: 0px;
    display: block;
    position: absolute;
}

.botao{
    right: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
    background-color: #e6e6e6;
    position: absolute;
    border-radius: 50%;
    overflow:hidden;
    margin: 30px;
    box-shadow: 7px 7px 19px #0000002f;
    display: block;
}

.botao:hover{
    background-color: #afafaf;
    transition: .3s linear;
    width: 70px;
    height: 70px;
    margin: 25px;
    cursor: pointer;
}

.botao > svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: #afafaf;
}

.botao:hover > svg {
    fill: white;
    transition: .3s linear;
}

iframe#tela {
    position: relative;

}